{% extends 'app/base.html' %}

{% block content %}

<div class='row my-4'>
    <div class='col-md-8'>
        {% for post in post_data  %}
            <div class='card mb-4'>
            {% if post.image %}
                <img src='{{ post.image.url }}' alt='' class='card-img-top index-img'>
            {% endif %}
                <div class='card-body'>
                    <h2 class='card-title'>{{ post.title }} <span class='small'> - {{ post.category }}</span> </h2>
                    <p class='card-text'>{{ post.content|truncatechars:100 }}</p>
                    <a href='{% url 'post_detail' post.id %}' class='stretched-link'> <div class='btn btn-warning' >詳細</div> </a>
                </div>
                <div class='card-footer text-muted'>
                    {{ post.created|date }}by {{ post.author }}
                </div>
                {% comment %} <a href='{% url 'post_detail' post.id %}' class='stretched-link'></a> {% endcomment %}
            </div>
        {% endfor %}
    </div>

    <div class='col-md-4'>
        <div class='card'>
            <h5 class='card-header'>このチュートリアルについて</h5>
            <div class='card-body'>
                <p>ステップ1</p>
                <p class='mb-0'>
                    初めてDjangoを触る方向けのチュートリアルです。
                    最小限の機能を構築してDjangoを学習しましょう。
                </p>    
            </div>    
        </div>
        <div class='card my-4'>
            <h5 class='card-header'>カテゴリ</h5>
            <div class='card-body'>
                <div class='row'>
                    {% for category in category_data %}
                        <div class='col-md-6'>
                            <ul class='list-unstyled'>
                                <li>
                                    <a href='{% url 'category' category %}'>
                                        {{ category.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>            
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</div>





{% endblock content %}




